
<div class="container-fluid container-fixed-lg" style="">
   <div class="row">
       <div class="col-md-4" style="border-right: 1px solid rgba(230, 230, 230, 0.7); height: calc(100vh - 135px);">
           <div class="p-t-30 p-b-10">
              <h5>Contact Request</h5>
              <div class="form-group">
                  <input type="text" ng-model="searchTerm" class="form-control" placeholder="serach...">
              </div>
           </div>
           <!-- Restro List -->
            <div class="p-t-20 p-b-20 scrollable" style="height: calc(100% - 170px); width: 100%;">
               <!--  " -->
               <button class="btn btn-white btn-block text-left" ng-repeat="req in filtered = (contactData | filter:searchTerm )" style="overflow: hidden;text-overflow: ellipsis;" ng-click="OpenMessage(req)">{{ req.purpose }} : {{ req.name }} <span class="pull-right p-r-5 p-l-5 text-danger" ng-show="{{req.status == '1' ? false : true}}"><i class="fa fa-exclamation" aria-hidden="true"></i></span></button>
               <h6 ng-click="nextPage(NextUrl)" class="text-center" style="cursor: pointer;"><i class="fa fa-chevron-down"></i></h6>
           </div>

       </div>
       <div class="col-md-8">
          <div class="col-sm-10 col-sm-offset-1 m-t-10" ng-show="showDetails">
            <div class="row">
                <div class="col-xs-6">
                    <p class="hint-text m-t-0 m-b-5 bold fs-13">From (name or company)</p>
                    <h5 class="semi-bold m-t-0">{{currentMsg.name}}</h5>
                </div>
                <div class="col-xs-6">
                    <p class="hint-text m-t-0 m-b-5 bold fs-13 text-right">{{currentMsg.created_at}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p class="hint-text m-t-0 m-b-5 bold fs-13">Email</p>
                    <h5 class="semi-bold m-t-0">{{currentMsg.email}}</h5>
                </div>
                <div class="col-xs-6">
                    <p class="hint-text m-t-0 m-b-5 bold fs-13">Phone</p>
                    <h5 class="semi-bold m-t-0">{{currentMsg.phone}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p class="hint-text m-t-0 m-b-5 bold fs-13">Purpose</p>
                    <h5 class="semi-bold m-t-0">{{currentMsg.purpose}}</h5>
                </div>
                <div class="col-xs-6">
                    <p class="hint-text m-t-0 m-b-5 bold fs-13">Location</p>
                    <h5 class="semi-bold m-t-0">{{currentMsg.location}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="hint-text m-t-0 m-b-5 bold fs-13">Website</p>
                    <h5 class="semi-bold m-t-0">{{currentMsg.web}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="hint-text m-t-0 m-b-5 bold fs-13">Message</p>
                    <h5 class="semi-bold m-t-0">{{currentMsg.message}}</h5>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn {{currentMsg.status == '1' ? 'btn-default' : 'btn-primary'}}"  ng-click="markDone(currentMsg.id, currentMsg.status)" ng-disabled="isDisabled">{{currentMsg.status == '1' ? 'Mark Not done' : 'Mark as done!'}}</button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 text-center" ng-hide="showDetails" style="height: calc(100vh - 135px); position: relative;">
            <h1 style="position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%);color:#9e9e9e;">
              Click on any item in list to start
            </h1>
          </div>
       </div>
   </div>
</div>
