<div class="container-fluid container-fixed-lg m-t-20">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
        <li ng-class="{'active': getCurrentStep() == 1 }">
            <a data-toggle="tab" style="pointer-events: none;" ng-click="goToStep(1)"><i class="fa fa-calendar tab-icon"></i> <span>Step 1</span></a>
        </li>
        <li ng-class="{'active': getCurrentStep() == 2 }">
            <a data-toggle="tab" style="pointer-events: none;" ng-click="goToStep(2)"><i class="fa fa-trash tab-icon"></i> <span>Step 2</span></a>
        </li>
        <li ng-class="{'active': getCurrentStep() == 3 }">
            <a data-toggle="tab" style="pointer-events: none;" ng-click="goToStep(3)"><i class="fa fa-info tab-icon"></i> <span>Step 3</span></a>
        </li>
        <li ng-class="{'active': getCurrentStep() == 4 }">
            <a data-toggle="tab" style="pointer-events: none;" ng-click="goToStep(4)"><i class="fa fa-arrows tab-icon"></i> <span>Step 4</span></a>
        </li>
        <li ng-class="{'active': getCurrentStep() == 5 }">
            <a data-toggle="tab" style="pointer-events: none;" ng-click="goToStep(5)"><i class="fa fa-check tab-icon"></i> <span>Step 5</span></a>
        </li>
    </ul>
    <wizard on-finish="finished()" class="bg-white" hide-indicators="true">
        <wz-step title="Step 1">
            <div class="row row-same-height p-t-30 p-b-30 p-l-20 p-r-20">
                <div class="col-md-7 b-r b-dashed b-grey sm-b-b">   
                	<form name="StaticDataForm" id="form-StaticDataForm" role="form" novalidate>
					    <div class="row">
					        <div class="col-sm-7">
					            <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.title.$invalid && !StaticDataForm.title.$pristine }">
					                <label>Title <span class="hint-text">(Max Length 32)</span></label>
					                <input type="text" class="form-control" name="title" placeholder="title" ng-model="experience.title" maxlength="32" required>
					            </div>
					            <label class="error" for="title" ng-show="StaticDataForm.title.$invalid && !StaticDataForm.title.$pristine">This field is required.</label>
					        </div>
					        <div class="col-sm-5">
					        	<div class="checkbox check-primary checkbox-circle">
			                        <input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" id="checkbox9" ng-model="experience.nonveg_preference">
			                        <label for="checkbox9"><strong>Ask for Veg / NonVeg preference</strong></label>
			                    </div>
					        </div>
					    </div>
					    <div class="row">
					    	<div class="col-sm-4">
					    		<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.cost.$invalid && !StaticDataForm.cost.$pristine }">
					                <label>Cost</label>
					                <input type="Text" class="form-control" name="cost" placeholder="2000" ng-model="experience.cost" required>
					            </div>
					            <label class="error" for="cost" ng-show="StaticDataForm.cost.$invalid && !StaticDataForm.cost.$pristine">This field is required.</label>
					    	</div>
					    	<div class="col-sm-4">
					    		<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.convenience_fee.$invalid && !StaticDataForm.convenience_fee.$pristine }">
					                <label>Convenience fee</label>
					                <input type="Text" class="form-control" name="convenience_fee" placeholder="convenience_fee" ng-model="experience.convenience_fee" required>
					            </div>
					            <label class="error" for="convenience_fee" ng-show="StaticDataForm.convenience_fee.$invalid && !StaticDataForm.convenience_fee.$pristine">This field is required.</label>
					    	</div>
					    	<div class="col-sm-4">
					    		<div pg-form-group class="form-group form-group-default input-group" ng-class="{ 'has-error' : StaticDataForm.taxes.$invalid && !StaticDataForm.taxes.$pristine }">
					                <label>Taxes</label>
					                <input type="Text" class="form-control" name="taxes" placeholder="taxes" ng-model="experience.taxes" required>
					                <span class="input-group-addon">
                                                   %
                                                </span>
					            </div>
					            <label class="error" for="taxes" ng-show="StaticDataForm.taxes.$invalid && !StaticDataForm.taxes.$pristine">This field is required.</label>
					    	</div>
					    </div>
					    <div class="row">
					        <div class="col-sm-8">
					            <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.address.$invalid && !StaticDataForm.address.$pristine }">
					                <label>address</label>
					                <input type="text" class="form-control" name="address" placeholder="Minimum of 4 characters." ng-model="experience.address" required>
					            </div>
					            <label class="error" for="address" ng-show="StaticDataForm.address.$invalid && !StaticDataForm.address.$pristine">This field is required.</label>
					        </div>
					        <div class="col-sm-4">
					            <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.city.$invalid && !StaticDataForm.city.$pristine }">
					                <label>City</label>
					                <select class="form-control" ng-model="experience.city_id" required>
					                	<option value="">Select City</option>
					                	<option value="1">Delhi NCR</option>
					                	<option value="2">Mumbai</option>
					                </select>
					            </div>
					            <label class="error" for="city" ng-show="StaticDataForm.city.$invalid && !StaticDataForm.city.$pristine">This field is required.</label>
					        </div>
					    </div>
					    <div class="row">
					        <div class="col-sm-4">
					            <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.total_seats.$invalid && !StaticDataForm.total_seats.$pristine }">
					                <label>Total Seats</label>
					                <input type="text" class="form-control" name="total_seats" ng-model="experience.total_seats" disabled required>
					            </div>
					            <label class="error" for="total_seats" ng-show="StaticDataForm.total_seats.$invalid && !StaticDataForm.total_seats.$pristine">Enter a valid total seats.</label>
					        </div>
					        <div class="col-sm-4">
					            <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.action_text.$invalid && !StaticDataForm.action_text.$pristine }">
					                <label>Button Text</label>
					                <input type="text" class="form-control" name="action_text" ng-model="experience.action_text" required>
					            </div>
					            <label class="error" for="action_text" ng-show="StaticDataForm.action_text.$invalid && !StaticDataForm.action_text.$pristine">Enter a valid Button Text.</label>
					        </div>
					        <div class="col-sm-4">
					            <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.tag.$invalid && !StaticDataForm.tag.$pristine }">
					                <label>Tag</label>
					                <input type="text" class="form-control" name="tag" ng-model="experience.tag" required>
					            </div>
					            <label class="error" for="tag" ng-show="StaticDataForm.tag.$invalid && !StaticDataForm.tag.$pristine">Enter a valid total tag.</label>
					        </div>
					    </div>
					    <div class="row">
					    	<div class="col-sm-6">
					    		<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.start_time.$invalid && !StaticDataForm.start_time.$pristine }">
					                <label>Start time</label>
					                <span class="help">e.g. "2017/12/20 16:00:00"</span>
					                <input type="text" class="form-control" name="start_time" ng-model="experience.start_time" id="date1" ui-jq="mask" ui-options="'9999/99/99 99:99:99'" required>
					            </div>
					            <label class="error" for="start_time" ng-show="StaticDataForm.start_time.$invalid && !StaticDataForm.start_time.$pristine">Enter a valid start time.</label>
					    	</div>
					    	<div class="col-sm-6">
					    		<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.end_time.$invalid && !StaticDataForm.end_time.$pristine }">
					                <label>End time</label>
					                <span class="help">e.g. "2017/12/20 16:00:00"</span>
					                <input type="text" class="form-control" name="end_time" ng-model="experience.end_time" id="date2" ui-jq="mask" ui-options="'9999/99/99 99:99:99'" required>
					            </div>
					            <label class="error" for="end_time" ng-show="StaticDataForm.end_time.$invalid && !StaticDataForm.end_time.$pristine">Enter a valid end time.</label>
					            <label class="error" for="end_time" ng-show="checkendDate">End date cannot be before start date.</label>
					    	</div>
					    </div>
					    <div class="row">
					    	<div class="col-sm-6">
					    		<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.timeFormats.$invalid && !StaticDataForm.timeFormats.$pristine }">
					                <label>Display Time</label>
					                <select class="form-control" ng-model="experience.timeFormats" ng-change="genrateDateFormats()" required>
					                	<option value="">how you want to display time</option>
					                	<option value="1">Dec 31 at 11PM to 2AM</option>
					                	<option value="2">Dec 31, 11PM Onwards</option>
					                	<option value="3">Fri, Dec 31, 11PM Onwards</option>
					                	<option value="4">2 Lines: Dec 31 at 11PM to 2AM || 3 hours on Friday</option>
					                	<option value="5">2 Lines: Dec 31, 11PM Onwards || 3 hours on Friday</option>
					                	<option value="6">Other</option>
					                </select>
					            </div>
					            <label class="error" for="timeFormats" ng-show="StaticDataForm.timeFormats.$invalid && !StaticDataForm.timeFormats.$pristine">This field is required.</label>
					    	</div>
					    	<div class="col-sm-6">
					    		<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.customeDisplayTime.$invalid && !StaticDataForm.customeDisplayTime.$pristine }">
					                <label>Other</label>
					                <input type="text" class="form-control" name="customeDisplayTime" ng-model="experience.customeDisplayTime" placeholder="Dec 31 at 11PM to 2AM" ng-disabled="customDate">
					            </div>
					            <label class="error" for="customeDisplayTime" ng-show="StaticDataForm.customeDisplayTime.$invalid && !StaticDataForm.customeDisplayTime.$pristine">Enter a valid total seats.</label>
					    	</div>
					    </div>
					    <div class="row">
					    	<div class="col-sm-6">
					    		<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.latitude.$invalid && !StaticDataForm.latitude.$pristine }">
					                <label>latitude</label>
					                <input type="text" class="form-control" name="latitude" ng-model="experience.latitude" placeholder="Workshop" required>
					            </div>
					            <label class="error" for="latitude" ng-show="StaticDataForm.latitude.$invalid && !StaticDataForm.latitude.$pristine">Enter a valid total latitude.</label>
					    	</div>
					    	<div class="col-sm-6">
					    		<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : StaticDataForm.longitude.$invalid && !StaticDataForm.longitude.$pristine }">
					                <label>longitude</label>
					                <input type="text" class="form-control" name="longitude" ng-model="experience.longitude" placeholder="Workshop" required>
					            </div>
					            <label class="error" for="longitude" ng-show="StaticDataForm.longitude.$invalid && !StaticDataForm.longitude.$pristine">Enter a valid total longitude.</label>
					    	</div>
					    </div>
					    <div class="row">
					    	
					    	<div class="col-sm-12">
					    		<label for="">Cover Image <span class="fs-13 hint-text">(851 X 315)</span> </label>
					    		<div id="direct_upload" 
	                            ngf-drop="uploadFiles($files)"
	                            ngf-drag-over-class="dragOverClass($event)"
	                            ng-model="files"
	                            ng-multiple="fasle" ngf-dimensions="$width == 851 || $height == 315"  ngf-validate-force="true">
	                            <div class="col-md-12 no-padding">
	                              <form>  
	                                <div class="form_line">
	                                    <!-- <label>Image:</label> -->
	                                    <div class="form_controls">
	                                        <div class="upload_button_holder" style="text-align: center; border: 1px dotted #9e9e9e;padding: 20px;width: 100%;">
	                                            <div href="#" class="upload_button btn btn-fw {{cover == '' ? 'btn-primary' : 'btn-success'}}" ngf-select="uploadCover($files)" title="upload" resetOnClick="true" ngf-dimensions="$width == 851 && $height == 315"  ngf-validate-force="true">Upload Cover</div>
	                                        </div>
	                                    </div>
	                                    <div ng-repeat="file in files">
	                                    	<div class="progress">
				                                <div class="progress-bar" style="width:{{file.status}}"></div>
				                            </div>
	                                    </div>
	                                    <p class="bold text-danger fs-15">{{myerrorcover}}</p>
	                                </div>
	                              </form>
	                            </div>
	                          </div>
					    	</div>
					    </div>
					</form>              
                </div>
                <div class="col-md-5">
                	<div class="col-sm-12">
                		<div class="card share share-other col no-t-b-border" data-social="item">
				            <div class="card-content">
				              <button class="btn btn-danger pull-right top-right m-r-10 m-t-10 btn-sm">{{experience.tag}}</button>
				              <img alt="Card Image" ng-src="{{experience.cover_image}}" class="border-t-radius">
				              <div class="card-description1">
				                <p class="bold">{{experience.title}}</p>
				              </div>
				            </div>
				            <div class="card-footer clearfix">
				              <div class="fs-12 semi-bold m-t-5">{{experience.display_time}}</div>
				              <div class="fs-12 semi-bold m-t-5">{{experience.address}}</div>
				              <div class="fs-13 bold m-t-5"><i class="fa fa-inr" ng-show="experience.paid"></i> {{experience.cost}}</div>
				              
				            </div>
				            <a class="btn btn-block btn-info btn-lg" ui-sref="open({id : experience.id, sessionid : sessionid})" style="border-radius: 0 0 2px 2px;">View Details</a>
				        </div>
                	</div>
                </div>
            </div>
            <div class="padding-20 bg-white">
                <ul class="pager wizard">
                    <li class="next">
                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-trash pull-right" ng-disabled="editBtnDisabled" ng-click="editExperience()" wz-next>
                            <span>Next</span>
                        </button>
                    </li>
                    <li class="previous disabled">
                        <button type="button" class="btn btn-default btn-cons pull-right">
                            <span>Previous</span>
                        </button>
                    </li>
                </ul>
            </div>
        </wz-step>
        <wz-step title="Step 2">
            <div class="row">
				<div class="col-sm-12">
					<h3>Delete Items you'd like to change</h3>
				</div>
                <div class="col-md-12 b-r b-dashed b-grey ">
                	<div class="col-sm-4 m-t-20"  ng-repeat="item in experience.data" id="{{item.id}}">
                		<div class="panel panel-default panel-condensed">
				                        <div class="panel-heading">
				                            <div class="panel-title">{{item.title}} ( {{item.type}} )
				                            </div>
				                            <div class="panel-controls">
				                                <ul>
				                                    <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
				                                    </li>
				                                    <li><a class="portlet-close" href="" ng-click="deleteData(item.id)"><i class="portlet-icon portlet-icon-close"></i></a>
                                    				</li>
				                                </ul>
				                            </div>
				                        </div>
				                        <div class="panel-body">
				                        	<experience-data class="col-sm-12" type="{{item.type}}" item="item"></experience-data>
				                            <!-- <p class="text-white">{{item.content}}</p> -->
				                        </div>
				                    </div>
                	</div>
                </div>
                <!-- <div class="col-md-2">
                	<button class="btn btn-success" >Try</button>
                </div> -->
            </div>
            <div class="padding-20 bg-white">
                <ul class="pager wizard">
                    <li class="next">
                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-info pull-right" wz-next>
                            <span>Next</span>
                        </button>
                    </li>
                    <li class="previous">
                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                            <span>Previous</span>
                        </button>
                    </li>
                </ul>
            </div>
        </wz-step>
        <wz-step title="Step 3">
            <div class="row row-same-height" ng-show="eventId">
                <div class="col-md-7 b-r b-dashed b-grey "> 
                	<div class="col-sm-2 b-r b-grey no-padding">
                		<div class="col-sm-12 m-t-15 no-padding">
                			<div class="col-xs-12 no-padding flex-box">
                				<button class="thumbnail-wrapper circular bordered d32 cursor Experincedatapoints flex-content" ng-click="openImageForm()" title="Image">
                				<i class="fa fa-picture-o" aria-hidden="true"></i>
                			</button>
                			</div>
                			<div class="col-xs-12 no-padding text-center">
                				<p class="semi-bold fs-13 text-center">Gallery</p>
                			</div>
                		</div>
                		<div class="col-sm-12 text-center m-t-15">	                			
                			<div class="col-xs-12 no-padding flex-box">
                				<button class="thumbnail-wrapper circular bordered d32 cursor Experincedatapoints flex-content" ng-click="openVideoForm()" title="Video">
	                				<i class="fa fa-file-video-o" aria-hidden="true"></i>
	                			</button>
                			</div>
                			<div class="col-xs-12 no-padding text-center">
                				<p class="semi-bold fs-13">Video</p>
                			</div>               			
                		</div>
                		<div class="col-sm-12 text-center m-t-15">
                			<div class="col-xs-12 no-padding flex-box">
                				<button class="thumbnail-wrapper circular bordered d32 cursor Experincedatapoints flex-content" ng-click="openTextForm()" title="Text">
	                				<i class="fa fa-file-text" aria-hidden="true"></i>
	                			</button>
                			</div>
                			<div class="col-xs-12 no-padding text-center">
                				<p class="semi-bold fs-13">Text</p>
                			</div>
                		</div>
                		<div class="col-sm-12 text-center m-t-15">
                			<div class="col-xs-12 no-padding flex-box">
                				<button class="thumbnail-wrapper circular bordered d32 cursor Experincedatapoints flex-content" ng-click="openList1Form()" title="List 1">
	                				<i class="fa fa-list" aria-hidden="true"></i>
	                			</button>
                			</div>
                			<div class="col-xs-12 no-padding text-center">
                				<p class="semi-bold fs-13">List</p>
                			</div>                			
                		</div>
                		<div class="col-sm-12 text-center m-t-15">                			
                			<div class="col-xs-12 no-padding flex-box">
                				<button class="thumbnail-wrapper circular bordered d32 cursor Experincedatapoints flex-content" ng-click="openList2Form()" title="List 2">
	                				<i class="fa fa fa-indent" aria-hidden="true"></i>
	                			</button>
                			</div>
                			<div class="col-xs-12 no-padding text-center">
                				<p class="semi-bold fs-13">Detailed List</p>
                			</div>
                		</div>
                		<div class="col-sm-12 text-center m-t-15">	
                			<div class="col-xs-12 no-padding flex-box">
                				<button class="thumbnail-wrapper circular bordered d32 cursor Experincedatapoints flex-content" ng-click="openUrlForm()" title="Url">
	                				<i class="fa fa-link" aria-hidden="true"></i>
	                			</button>
                			</div>
                			<div class="col-xs-12 no-padding text-center">
                				<p class="semi-bold fs-13">Link</p>
                			</div>
                		</div>
                	</div>
                	<div class="col-sm-10">
                		<div class="row" ng-show="NoDataForm">
                			<div class="col-sm-12">
                				<h4 class="gray m-t-50">Select a data Type to start</h4>
                			</div>
                		</div>
                		<div class="row" ng-show="textData">
	                		<div class="col-sm-12 m-t-20">
	                			<h3>Add Text</h3>
	                			<form name="TextDataForm" id="form-TextDataForm" role="form" novalidate>
			                        <div class="row clearfix">
			                            <div class="col-sm-12">
			                                <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : TextDataForm.title.$invalid && !TextDataForm.title.$pristine }">
			                                    <label>Title <span class="hint-text">(Max Length 32)</span></label>
			                                    <input type="text" class="form-control" name="title" ng-model="dText.title" maxlength="32">
			                                </div>
			                                <label class="error" for="title" ng-show="TextDataForm.title.$invalid && !TextDataForm.title.$pristine">This field is required.</label>
			                            </div>
			                        </div>
			                        <div class="row">
			                            <div class="col-sm-12">
			                                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : TextDataForm.content.$invalid && !TextDataForm.content.$pristine }">
			                                    <label>Content <span class="hint-text">(Max Length 1024)</span></label>
			                                    <textarea type="text" class="form-control" name="content" ng-model="dText.content" maxlength="1024" rows="10" style="height: 70px;"></textarea>
			                                </div>
			                                <label class="error" for="content" ng-show="TextDataForm.content.$invalid && !TextDataForm.content.$pristine">This field is required.</label>
			                            </div>
			                        </div>
			                        <button class="btn btn-primary pull-right" type="submit" ng-disabled="(TextDataForm.$invalid) || (addTextDisable)" ng-click="saveText()">Save</button>
			                    </form>
	                		</div>
                		</div>
                		<div class="row" ng-show="imageData">
                			<div class="col-sm-12 m-t-20">
	                			<h3>Add Image</h3>
	                			<form name="imageDataForm" id="form-imageDataForm" role="form" novalidate>
			                        <div class="row clearfix">
			                            <div class="col-sm-12">
			                                <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : imageDataForm.title.$invalid && !imageDataForm.title.$pristine }">
			                                    <label>Title <span class="hint-text">(Max Length 32)</span></label>
			                                    <input type="text" class="form-control" name="title" ng-model="dImage.title" maxlength="32">
			                                </div>
			                                <label class="error" for="title" ng-show="imageDataForm.title.$invalid && !imageDataForm.title.$pristine">This field is required.</label>
			                            </div>
			                        </div>
			                        <!-- <div class="row clearfix">
			                        	<div class="row">
			                        		<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : imageDataForm.detail.$invalid && !imageDataForm.detail.$pristine }">
			                                    <label>Text <span class="hint-text">(Max Length 140)</span></label>
			                                    <textarea name="detail" class="form-control" id="" rows="10" style="height: 50px;" ng-model="dImage.detail" maxlength="140"></textarea>
			                                </div>
			                                <label class="error" for="detail" ng-show="imageDataForm.detail.$invalid && !imageDataForm.detail.$pristine">This field is required.</label>
			                        	</div>
			                        </div> -->
			                        <div class="row">
			                            <div class="col-sm-12">
			                                <div id="direct_upload" 
					                            ngf-drop="uploadFiles($files)"
					                            ngf-drag-over-class="dragOverClass($event)"
					                            ng-model="files"
					                            ng-multiple="true">
						                            <div class="col-md-12 no-padding">
						                              <form>  
						                                <div class="form_line">
						                                    <!-- <label>Image:</label> -->
						                                    <div class="form_controls">
						                                        <div class="upload_button_holder" style="text-align: center; border: 1px dotted #9e9e9e;padding: 20px;width: 100%;">
						                                            <div href="#" class="upload_button btn btn-fw {{cover == '' ? 'btn-primary' : 'btn-success'}}" ngf-select="uploadFiles($files)" title="upload" resetOnClick="true" multiple>Upload Images ( {{photogall.length}} )</div>
						                                        </div>
						                                    </div>
															<div ng-repeat="file in files">
						                                    	<div class="progress">
									                                <div class="progress-bar" style="width:{{file.status}}"></div>
									                            </div>
						                                    </div> 
						                                </div>
						                              </form>
						                            </div>
						                        </div>
			                            </div>
			                        </div>
			                        <button class="btn btn-primary pull-right" type="submit" ng-disabled="(imageDataForm.$invalid) || (addImageDisable)" ng-click="saveImages()">Save</button>
			                    </form>
	                		</div>
                		</div>
                		<div class="row" ng-show="videoData">
                			<div class="col-sm-12 m-t-20">
	                			<h3>Add Video</h3>
	                			<form name="VideoDataForm" id="form-VideoDataForm" role="form" novalidate>
			                        <div class="row clearfix">
			                            <div class="col-sm-12">
			                                <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : VideoDataForm.title.$invalid && !VideoDataForm.title.$pristine }">
			                                    <label>Title <span class="hint-text">(Max Length 32)</span></label>
			                                    <input type="text" class="form-control" name="title" ng-model="dVideo.title" maxlength="32">
			                                </div>
			                                <label class="error" for="title" ng-show="VideoDataForm.title.$invalid && !VideoDataForm.title.$pristine">This field is required.</label>
			                            </div>
			                        </div>
			                        <div class="row">
			                            <div class="col-sm-12">
			                                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : VideoDataForm.content.$invalid && !VideoDataForm.content.$pristine }">
			                                    <label>Video Url</label>
			                                    <input type="url" class="form-control" name="content" ng-model="dVideo.content">
			                                </div>
			                                <label class="error" for="content" ng-show="VideoDataForm.content.$invalid && !VideoDataForm.content.$pristine">This field is required.</label>
			                            </div>
			                        </div>
			                        <button class="btn btn-primary pull-right" type="submit" ng-disabled="(VideoDataForm.$invalid) || (addVideoDisabled)" ng-click="saveVideo()">Save</button>
			                    </form>
	                		</div>
                		</div>
                		<div class="row" ng-show="urlData">
                			<div class="col-sm-12 m-t-20">
	                			<h3>Add Url</h3>
	                			<form name="urlDataForm" id="form-urlDataForm" role="form" novalidate>
			                        <div class="row clearfix">
			                            <div class="col-sm-12">
			                                <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : urlDataForm.title.$invalid && !urlDataForm.title.$pristine }">
			                                    <label>Title <span class="hint-text">(Max Length 32)</span></label>
			                                    <input type="text" class="form-control" name="title" ng-model="durl.title" maxlength="32">
			                                </div>
			                                <label class="error" for="title" ng-show="urlDataForm.title.$invalid && !urlDataForm.title.$pristine">This field is required.</label>
			                            </div>
			                        </div>
			                        <div class="row">
			                            <div class="col-sm-12">
			                                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : urlDataForm.content.$invalid && !urlDataForm.content.$pristine }">
			                                    <label>Url</label>
			                                    <input type="url" class="form-control" name="content" ng-model="durl.content">
			                                </div>
			                                <label class="error" for="content" ng-show="urlDataForm.content.$invalid && !urlDataForm.content.$pristine">This field is required.</label>
			                            </div>
			                        </div>
			                        <button class="btn btn-primary pull-right" type="submit" ng-disabled="(urlDataForm.$invalid) || (addUrlDisabled)" ng-click="saveUrl()">Save</button>
			                    </form>
	                		</div>
                		</div>
                		<div class="row" ng-show="list1Data">
                			<div class="col-sm-12 m-t-20">
	                			<h3>Add List</h3>
	                			<form name="list1DataForm" id="form-list1DataForm" role="form" novalidate>
			                        <div class="row clearfix">
			                            <div class="col-sm-12">
			                                <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : list1DataForm.title.$invalid && !list1DataForm.title.$pristine }">
			                                    <label>Title <span class="hint-text">(Max Length 32)</span></label>
			                                    <input type="text" class="form-control" name="title" ng-model="dList1.title" maxlength="32">
			                                </div>
			                                <label class="error" for="title" ng-show="list1DataForm.title.$invalid && !list1DataForm.title.$pristine">This field is required.</label>
			                            </div>
			                        </div>
			                        <div class="row">
			                            <div class="col-sm-12">
			                                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : list1DataForm.content.$invalid && !list1DataForm.content.$pristine }">
			                                    <label>Content (max length 46)</label>
			                                    <input type="text" class="form-control" name="content" ng-model="dList1.list1item" maxlength="46">
			                                </div>
			                                <label class="error" for="content" ng-show="list1DataForm.content.$invalid && !list1DataForm.content.$pristine">This field is required.</label>
			                            </div>
			                            <div class="col-sm-12">
			                            	<button class="btn btn-success" ng-click="addItemtolist1()">add</button>
			                            </div>
			                            <div class="col-sm-12" ng-repeat="item in dList1.content">
				                        	<p><strong>{{item}}</strong></p>
				                        </div>
			                        </div>

			                        <button class="btn btn-primary pull-right" type="submit" ng-disabled="(list1DataForm.$invalid) || (addList1Disabled)" ng-click="saveList1()">Save</button>
			                    </form>
	                		</div>
                		</div>
                		<div class="row" ng-show="list2Data">
                			<div class="col-sm-12 m-t-20">
	                			<h3>Add Detailed List</h3>
	                			<form name="list2DataForm" id="form-list2DataForm" role="form" novalidate>
			                        <div class="row clearfix">
			                            <div class="col-sm-12">
			                                <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : list2DataForm.title.$invalid && !list2DataForm.title.$pristine }">
			                                    <label>Title <span class="hint-text">(Max Length 32)</span></label>
			                                    <input type="text" class="form-control" name="title" ng-model="dlist2.title" maxlength="32">
			                                </div>
			                                <label class="error" for="title" ng-show="list2DataForm.title.$invalid && !list2DataForm.title.$pristine">This field is required.</label>
			                            </div>
			                        </div>
				                    <div class="col-sm-12">
				                    	<div class="row">
				                        	<div class="col-sm-12">
				                        		<div pg-form-group class="form-group form-group-default">
				                                    <label>Title <span class="hint-text">(Max Length 32)</span></label>
				                                    <input type="text" class="form-control" ng-model="detailsList.title" maxlength="32">
				                                </div>
				                        	</div>
				                            <div class="col-sm-12">
				                                <div pg-form-group class="form-group form-group-default">
				                                    <label>Content <span class="hint-text">(Max Length 140)</span></label>
				                                    <textarea class="form-control" ng-model="detailsList.data" rows="3" style="height: 70px;" maxlength="140"></textarea>
				                                </div>
				                            </div>
				                            <div class="col-sm-12">
				                            	<button class="btn btn-success" ng-click="addItemToDTlist()">add</button>
				                            </div>
				                        </div>

				                    </div>
			                        <div class="col-sm-12" ng-repeat="item in list2">
			                        	<p><strong>{{item.title}}:</strong> {{item.data}}</p>
			                        </div>
			                        <button class="btn btn-primary pull-right" ng-disabled="(list2DataForm.$invalid) || (addList2Disabled)" ng-click="saveList2()">Save</button>
			                    </form>
	                		</div>
                		</div>
                	</div>
                </div>
                <div class="col-md-5">
                	<div class="col-sm-12 p-t-20" ng-repeat="data in experience.data">
	                	<div class="col-sm-4">
	                		<p class="hint-text m-t-0 m-b-5 semi-bold fs-15">{{data.type}}</p>
	                	</div>
	                	<div class="col-sm-8">
	                		<p class="bold m-t-0 m-b-5 fs-18" >Title : {{data.title}}</p>
	                	</div>                        
                	</div>
                </div>
            </div>
            <div class="padding-20 bg-white">
                <ul class="pager wizard">
                    <li class="next">
                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-arrows pull-right" wz-next>
                            <span>Next</span>
                        </button>
                    </li>
                    <li class="previous">
                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                            <span>Previous</span>
                        </button>
                    </li>
                </ul>
            </div>
        </wz-step>
        <wz-step title="Step 4">
            <div class="row row-same-height">
                <div class="col-md-12 b-r b-dashed b-grey ">
                	<div class="panel panel-transparent">
				        <div class="panel-heading">
				            <div class="panel-title">Arrange Order Of Data
				            </div>
				        </div>
				        <div class="row">
				        	<div class="col-sm-6">
				        		<h4 class="text-center">Pick Data item From here</h4>
				        	</div>
				        	<div class="col-sm-6">
				        		<h4 class="text-center">Put The data Items here in Order you want to arange it</h4>
				        	</div>
				        </div>
				        <div class="panel-body sortable">
				            <div class="row">
				                <div class="col-md-6 sortable-column" ui-jq="sortable" ui-options='{connectWith: ".sortable .row .col-md-6",handle: ".panel-heading",
				        		cancel: ".portlet-close", placeholder: "sortable-box-placeholder round-all", forcePlaceholderSize: true, tolerance: "pointer",	        forceHelperSize: true, revert: true, helper: "original",opacity: 0.8,
				        		iframeFix: false}'>
				                    <div class="panel panel-default panel-condensed bg-info" ng-repeat="item in experience.data" id="{{item.id}}" pg-portlet>
				                        <div class="panel-heading">
				                            <div class="panel-title text-white">{{item.title}} ( {{item.type}} )
				                            </div>
				                            <div class="panel-controls">
				                                <ul>
				                                    <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="text-white portlet-icon portlet-icon-collapse"></i></a>
				                                    </li>
				                                    <li><a class="portlet-close" href="" ng-click="deleteData(item.id)" data-toggle="close"><i class="text-white portlet-icon portlet-icon-close"></i></a>
                                    				</li>
				                                </ul>
				                            </div>
				                        </div>
				                        <div class="panel-body">
				                            <!-- <p class="text-white">{{item.content}}</p> -->
				                            <!-- {{item}} -->
				                        </div>
				                    </div>
				                </div>
				                <div class="col-md-6 sortable-column sortedContainer" ui-jq="sortable" ui-options='{connectWith: ".sortable .row .col-md-6", handle: ".panel-heading", cancel: ".portlet-close", placeholder: "sortable-box-placeholder round-all", forcePlaceholderSize: true, tolerance: "pointer", forceHelperSize: true, revert: true, helper: "original", opacity: 0.8, iframeFix: false}' id="">
				                    
				                </div>
				            </div>
				        </div>
				    </div>
                </div>
                <!-- <div class="col-md-2">
                	<button class="btn btn-success" >Try</button>
                </div> -->
            </div>
            <div class="padding-20 bg-white">
                <ul class="pager wizard">
                    <li class="next">
                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-check pull-right" ng-click="checkOrder()" ng-disabled="arragebtnDisabled" wz-next>
                            <span>Next</span>
                        </button>
                    </li>
                    <li class="previous">
                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                            <span>Previous</span>
                        </button>
                    </li>
                </ul>
            </div>
        </wz-step>
        <wz-step title="Step 5">
            <div class="padding-30">
                <div class="row row-same-height">
                	<div class="col-sm-4">
                		<div class="card share share-other col no-t-b-border" data-social="item">
				            <div class="card-content">
				              <button class="btn btn-danger pull-right top-right m-r-10 m-t-10 btn-sm">{{experience.tag}}</button>
				              <img alt="Card Image" ng-src="{{experience.cover_image}}" class="border-t-radius">
				              <div class="card-description1">
				                <p class="bold">{{experience.title}}</p>
				              </div>
				            </div>
				            <div class="card-footer clearfix">
				              <div class="fs-12 semi-bold m-t-5">{{experience.display_time}}</div>
				              <div class="fs-12 semi-bold m-t-5">{{experience.address}}</div>
				              <div class="fs-13 bold m-t-5"><i class="fa fa-inr" ng-show="experience.paid"></i> {{experience.cost}}</div>
				              
				            </div>
				            <a class="btn btn-block btn-info btn-lg" ui-sref="open({id : experience.id, sessionid : sessionid})" style="border-radius: 0 0 2px 2px;">View Details</a>
				        </div>
                	</div>
                	<div class="col-sm-4">
                		<div class="card share share-other col no-t-b-border" data-social="item">
			                  <div class="card-content">
			                    <button class="btn btn-danger pull-right top-right m-r-10 m-t-10 btn-sm">{{experience.tag}}</button>
			                    <img alt="Card Image" ng-src="{{experience.cover_image}}" class="border-t-radius">
			                    <div class="card-description bg-master-dark text-white p-b-10">
			                      <h5 class="bold text-white">{{experience.title}}</h5>
			                      <div class="fs-12 semi-bold m-t-5"><i class="fa fa-clock-o m-r-5" aria-hidden="true"></i> {{experience.display_time}}</div>
			                      <div class="fs-12 semi-bold m-t-5"><i class="fa fa-map-marker m-r-5" aria-hidden="true"></i> {{experience.address}}</div>
			                      <div class="fs-13 bold m-t-5"><i class="fa fa-inr m-r-5" aria-hidden="true"></i>  {{experience.cost}}</div>
			                    </div>
			                  </div>
			                  <div class="card-footer clearfix no-padding">
			                    <div class="col-sm-12 no-padding" ng-repeat="item in experience.data">
			                      <experience-data class="col-sm-12" type="{{item.type}}" item="item"></experience-data>
			                    </div>
			                    
			                  </div>
			                  <a class="btn btn-block btn-success btn-lg" style="border-radius: 0 0 2px 2px;">{{experience.action_text}}</a>
			                </div>
                	</div>
                	<div class="col-sm-4">
	                	<div class="col-sm-12">
	                		<p class="hint-text m-t-0 m-b-5 bold fs-13">Asked for Veg/Nonveg preference</p>
	                        <p class="semi-bold m-t-0 m-b-5 fs-15" >{{experience.nonveg_preference == "1" ? 'Yes' : 'No'}}</p>
	                	</div>
	                	<div class="col-sm-12">
	                		<p class="hint-text m-t-0 m-b-5 bold fs-13">Convenience fee</p>
	                        <p class="semi-bold m-t-0 m-b-5 fs-15" >{{experience.convenience_fee}}</p>
	                	</div>
	                	<div class="col-sm-12">
	                		<p class="hint-text m-t-0 m-b-5 bold fs-13">Taxes</p>
	                        <p class="semi-bold m-t-0 m-b-5 fs-15" >{{experience.taxes}}</p>
	                	</div>
	                	<div class="col-sm-12">
	                		<p class="hint-text m-t-0 m-b-5 bold fs-13">Total seats</p>
	                        <p class="semi-bold m-t-0 m-b-5 fs-15" >{{experience.total_seats}}</p>
	                	</div>
						<div class="col-sm-12">
	                		<p class="hint-text m-t-0 m-b-5 bold fs-13">Address</p>
	                        <p class="semi-bold m-t-0 m-b-5 fs-15" >{{experience.address}}</p>
	                	</div>
                	</div>
                </div>
            </div>
            <div class="padding-20 bg-white">
                <ul class="pager wizard">
                    <li class="next">
                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-truck pull-right" ng-click="finish()" wz-finish>
                            <span>Finish</span>
                        </button>
                    </li>
                    <li class="previous">
                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                            <span>Previous</span>
                        </button>
                    </li>
                </ul>
            </div>
        </wz-step>
    </wizard>
</div>