<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-transparent">
                <div class="panel-body no-padding">
                    <h4>Outlet: {{ currentOutlet.name }}<small> - {{ currentOutlet.area }}</small></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 m-t-30" style="">
            <!-- <h5 class="m-l-20">Get Data from</h5> -->
            <div class="col-sm-6">
                <div class="col-sm-6">
                    <div id="datepicker-component" class="input-group date col-sm-12" ui-jq="datepicker">
                        <input type="text" class="form-control" placeholder="Start Date" ng-model="startDate"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="datepicker-component" class="input-group date col-sm-12" ui-jq="datepicker">
                        <input type="text" class="form-control" placeholder="End Date" ng-model="endDate"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-info" ng-click="getOutletDetailsByDate()">Get Details</button>
            </div>
        </div>
    </div>
    <div class="row m-t-30">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    <div class="panel-title">Redemption Numbers</div>
                    <div class="panel-controls">
                        <ul>
                            <li>
                                <i class="portlet-icon portlet-icon-refresh"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <h6 class="bold text-complete">Overall Redemption</h6>
                    <h3>{{ currentOutlet.overallRedeem }}</h3>

                    <h6 class="bold text-complete">This Month Redemption</h6>
                    <h3>{{ currentOutlet.currentMonthRedeem}}</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="panel panel-transparent">
                <div class="panel-body no-padding">
                    <div id="portlet-advance" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')">
                        <div class="panel-heading ">
                            <div class="panel-title">Offer Redemption
                            </div>
                            <div class="panel-controls">
                                <ul>
                                    <li>
                                        <div class="dropdown">
                                            <a id="portlet-settings" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                                <i class="portlet-icon portlet-icon-settings "></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="portlet-settings">
                                                <li><a ng-click="offerRedemp = allData.Offers7days">7 Days</a>
                                                </li>
                                                <li><a ng-click="offerRedemp = allData.Offers30days">30 Days</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="" ng-click="getAreaChats()" class="portlet-refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div style="height: 400px;">
                                <!-- <nvd3 options='offer_area_options1' class="line-chart m-t-30 text-center" data='offerRedemp'></nvd3> -->
                                <!-- <nvd3 options='offer_line_options' class="line-chart m-t-30 text-center" data='offerRedemp' api="nvd3_line_api" data-x-grid="true" ></nvd3> -->
                                <!--<nvd3 options='nvd3_area_options' class="line-chart m-t-30 text-center"  ></nvd3>-->
                                <nvd3 jq-sparkline class="sparkline-chart m-t-25" ng-model="offerRedemption" options="nvd3_area_options" data='offerRedemp' api="nvd3_area_api"></nvd3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-30">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    <div class="panel-title">Available Offers</div>
                    <div class="panel-controls">
                        <ul>
                            <li>
                                <i class="portlet-icon portlet-icon-refresh"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <table class="table table-hover demo-table-dynamic">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="offer in currentOutlet.offer">
                            <td class="v-align-middle">
                                <p>{{offer.title}}</p>
                            </td>
                            <td class="v-align-middle">
                                <p>{{offer.type}}</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Redeemed Users</div>
                    <div class="panel-controls">
                        <ul>
                            <li>
                                <i class="portlet-icon portlet-icon-refresh"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h5>
                            <span class="pull-right m-l-20">
                                <button class="pull-right btn btn-info btn-block" ng-csv="usercsv" filename="user-list.csv" field-separator=","
                                        decimal-separator=".">Download User List</button>
                            </span>
                        </h5>
                        <div class="panel-body">
                            <div class="m-t-30" style="overflow: auto; max-height: 500px; width: 100%">
                                <table class="table table-hover demo-table-dynamic">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>User Name</th>
                                        <th>Offer Title</th>
                                        <th>Redemption Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="redeem in allData.users">
                                        <td class="v-align-middle">
                                            <p>{{redeem.id}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{redeem.user}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{redeem.title}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{redeem.created_at}}</p>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>